body {
    font-family: Helvetica, serif;
  }
  
  header {
    border-bottom: 5px #999;
    display: inline-block;
  }
  header img {
      float: left;
      margin-right: 5px;
  }

  div {
    display: block;
    text-align: left;
  }

  h1 {
      font-size: 30px;
      font-family: cursive;
  }

  p {
      font-size: 10px;
  }

  nav ul {
    display: inline-block;
  }
  
  nav ul li:nth-child(6) {
    margin-right: 3px;
  } 
  
  button {
    background: #000;
    color: #fff;
    border: none;
    font-size: 18px;
    margin-top: 8px;
    padding: 10px 30px;
  }